{% extends "base.html" %}
{% block content %}

<h2>Students</h2>

<a href="{% url 'student_create' %}">Add Student</a>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Roll No</th>
    <th>Assigned Teacher</th>
    <th>Actions</th>
  </tr>

  {% for s in students %}
  <tr>
    <td>{{ s.name }}</td>
    <td>{{ s.roll_number }}</td>
    <td>{{ s.assigned_teacher }}</td>
    <td>
      <a href="{% url 'student_edit' s.id %}">Edit</a> |
      <a href="{% url 'student_delete' s.id %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
